<h1>Banque!</h1>

<!-- main -->
<div id="main">
  <div id="accounts">
  </div>
  <button id="main-withdraw-transfer-button">Withdraws/Transfers</button>
  <button id="main-add-account-button">Add an Account</button>

  <div id="balance">
    <p>Total Balance</p>
  </div>
  <button id="main-deposit-button">Deposit</button>
</div>

<!-- deposit -->
<div class="hide" id="deposit">
  <form action="/" method="post">
    <select id="account-to-deposit">
      <option value="">Account</option>
      <% @accounts.each do |account| %>
        <option type="integer" value="<%= account.id %>">
          <%= account.name %>
        </option>
      <% end %>
    </select>
    <input type="hidden" name="_method" value="put">
    <input type="float" id="deposit-value" placeholder="amount"/><br/>
  <button id="deposit-button">Deposit</button>
  </form>
</div>

<!-- create account -->
<div class="hide" id="create-account">
  <form action="/" method="post">
    <input type="string" id="account-name" placeholder="Account Name"/><br/>
    <input type="string" id="starting-balance" placeholder="Starting Balance"/><br/>
    <button id="add-account">Add an Account</button>
  </form>
</div>